<VirtualHost *:80>
    # SuexecUserGroup "#1020" "#1021"
    # ServerName localhost
    # ServerAlias www.localhost
    ServerAdmin webmaster@localhost

    DocumentRoot PATH

    # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
    LogLevel warn
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    DirectoryIndex index.php index.html index.htm

    #<Directory />
            #Options FollowSymLinks
            #AllowOverride All
    #</Directory>

    <Directory PATH >
            Options Indexes +SymLinksIfOwnerMatch +ExecCGI
            AllowOverride All Options=ExecCGI,Includes,IncludesNOEXEC,Indexes,MultiViews,SymLinksIfOwnerMatch,FollowSymLinks
            Order allow,deny
            allow from all
            AddType application/x-httpd-php .php
            AddHandler fcgid-script .php
            FCGIWrapper /home/travis/fcgi-bin/php5.fcgi .php
    </Directory>

    FcgidMaxRequestLen 1073741824

</VirtualHost>